USE [master]
GO
/****** Object:  Database [RedFlixII]    Script Date: 31/5/2026 19:07:48 ******/
CREATE DATABASE [RedFlixII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RedFlixII', FILENAME = N'C:\Users\1507f\RedFlixII.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RedFlixII_log', FILENAME = N'C:\Users\1507f\RedFlixII_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RedFlixII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RedFlixII]
GO
/****** Object:  Table [dbo].[actores]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actores_peliculas]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actores_peliculas](
	[actorID] [int] NOT NULL,
	[peliculaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[actorID] ASC,
	[peliculaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actores_series]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actores_series](
	[actorID] [int] NOT NULL,
	[serieID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[actorID] ASC,
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calificaciones]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calificaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [int] NULL,
	[peliculaID] [int] NULL,
	[serieID] [int] NULL,
	[puntaje] [int] NOT NULL,
	[fechaCalificacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clima]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clima](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[temperatura] [int] NULL,
	[descripcionClima] [varchar](max) NULL,
	[icono] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cotizaciones]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotizaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tipoMoneda] [varchar](50) NULL,
	[valor] [decimal](18, 0) NULL,
	[fecha] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos_peliculas]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos_peliculas](
	[peliculaID] [int] NOT NULL,
	[generoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[peliculaID] ASC,
	[generoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos_series]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos_series](
	[serieID] [int] NOT NULL,
	[generoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[serieID] ASC,
	[generoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listas]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listaSeries]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listaSeries](
	[listaID] [int] NOT NULL,
	[serieID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[listaID] ASC,
	[serieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listasPelis]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listasPelis](
	[listaID] [int] NOT NULL,
	[peliculaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[listaID] ASC,
	[peliculaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[Duracion] [time](7) NULL,
	[FechaDeEstreno] [date] NULL,
	[Idioma] [varchar](50) NULL,
	[Clasificacion] [varchar](10) NULL,
	[Sinopsis] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfiles]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Icono] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permisos]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rolesPermisos]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rolesPermisos](
	[RolID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[series]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[series](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[CantidadCapitulos] [int] NULL,
	[FechaDeEstreno] [date] NULL,
	[Idioma] [varchar](50) NULL,
	[Clasificacion] [varchar](10) NULL,
	[Sinopsis] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 31/5/2026 19:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Rol] [varchar](50) NULL,
	[RolID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calificacion_Pelicula]    Script Date: 31/5/2026 19:07:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Calificacion_Pelicula] ON [dbo].[calificaciones]
(
	[usuarioID] ASC,
	[peliculaID] ASC
)
WHERE ([PeliculaID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calificacion_Serie]    Script Date: 31/5/2026 19:07:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Calificacion_Serie] ON [dbo].[calificaciones]
(
	[usuarioID] ASC,
	[serieID] ASC
)
WHERE ([SerieID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[calificaciones] ADD  DEFAULT (getdate()) FOR [fechaCalificacion]
GO
ALTER TABLE [dbo].[actores_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_actor_pelicula] FOREIGN KEY([actorID])
REFERENCES [dbo].[actores] ([ID])
GO
ALTER TABLE [dbo].[actores_peliculas] CHECK CONSTRAINT [fk_actor_pelicula]
GO
ALTER TABLE [dbo].[actores_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_pelicula_actor] FOREIGN KEY([peliculaID])
REFERENCES [dbo].[peliculas] ([ID])
GO
ALTER TABLE [dbo].[actores_peliculas] CHECK CONSTRAINT [fk_pelicula_actor]
GO
ALTER TABLE [dbo].[actores_series]  WITH CHECK ADD  CONSTRAINT [fk_actor_serie] FOREIGN KEY([actorID])
REFERENCES [dbo].[actores] ([ID])
GO
ALTER TABLE [dbo].[actores_series] CHECK CONSTRAINT [fk_actor_serie]
GO
ALTER TABLE [dbo].[actores_series]  WITH CHECK ADD  CONSTRAINT [fk_serie_actor] FOREIGN KEY([serieID])
REFERENCES [dbo].[series] ([ID])
GO
ALTER TABLE [dbo].[actores_series] CHECK CONSTRAINT [fk_serie_actor]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [fk_pelicula_calificaciones] FOREIGN KEY([peliculaID])
REFERENCES [dbo].[peliculas] ([ID])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [fk_pelicula_calificaciones]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [fk_serie_calificaciones] FOREIGN KEY([serieID])
REFERENCES [dbo].[series] ([ID])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [fk_serie_calificaciones]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [fk_usuario_calificaciones] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[usuarios] ([ID])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [fk_usuario_calificaciones]
GO
ALTER TABLE [dbo].[generos_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_genero_pelicula] FOREIGN KEY([generoID])
REFERENCES [dbo].[generos] ([ID])
GO
ALTER TABLE [dbo].[generos_peliculas] CHECK CONSTRAINT [fk_genero_pelicula]
GO
ALTER TABLE [dbo].[generos_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_pelicula_genero] FOREIGN KEY([peliculaID])
REFERENCES [dbo].[peliculas] ([ID])
GO
ALTER TABLE [dbo].[generos_peliculas] CHECK CONSTRAINT [fk_pelicula_genero]
GO
ALTER TABLE [dbo].[generos_series]  WITH CHECK ADD  CONSTRAINT [fk_genero_serie] FOREIGN KEY([generoID])
REFERENCES [dbo].[generos] ([ID])
GO
ALTER TABLE [dbo].[generos_series] CHECK CONSTRAINT [fk_genero_serie]
GO
ALTER TABLE [dbo].[generos_series]  WITH CHECK ADD  CONSTRAINT [fk_serie_genero] FOREIGN KEY([serieID])
REFERENCES [dbo].[series] ([ID])
GO
ALTER TABLE [dbo].[generos_series] CHECK CONSTRAINT [fk_serie_genero]
GO
ALTER TABLE [dbo].[listaSeries]  WITH CHECK ADD  CONSTRAINT [fk_listas_series] FOREIGN KEY([listaID])
REFERENCES [dbo].[listas] ([ID])
GO
ALTER TABLE [dbo].[listaSeries] CHECK CONSTRAINT [fk_listas_series]
GO
ALTER TABLE [dbo].[listaSeries]  WITH CHECK ADD  CONSTRAINT [fk_series_listas] FOREIGN KEY([serieID])
REFERENCES [dbo].[series] ([ID])
GO
ALTER TABLE [dbo].[listaSeries] CHECK CONSTRAINT [fk_series_listas]
GO
ALTER TABLE [dbo].[listasPelis]  WITH CHECK ADD  CONSTRAINT [fk_listas_pelis] FOREIGN KEY([listaID])
REFERENCES [dbo].[listas] ([ID])
GO
ALTER TABLE [dbo].[listasPelis] CHECK CONSTRAINT [fk_listas_pelis]
GO
ALTER TABLE [dbo].[listasPelis]  WITH CHECK ADD  CONSTRAINT [fk_pelis_listas] FOREIGN KEY([peliculaID])
REFERENCES [dbo].[peliculas] ([ID])
GO
ALTER TABLE [dbo].[listasPelis] CHECK CONSTRAINT [fk_pelis_listas]
GO
ALTER TABLE [dbo].[rolesPermisos]  WITH CHECK ADD  CONSTRAINT [fk_permiso_rol] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[permisos] ([ID])
GO
ALTER TABLE [dbo].[rolesPermisos] CHECK CONSTRAINT [fk_permiso_rol]
GO
ALTER TABLE [dbo].[rolesPermisos]  WITH CHECK ADD  CONSTRAINT [fk_rol_permiso] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[rolesPermisos] CHECK CONSTRAINT [fk_rol_permiso]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [fk_rol_usuario] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [fk_rol_usuario]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD CHECK  (([puntaje]>=(1) AND [puntaje]<=(5)))
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [ck_calificacion_tipo] CHECK  (([PeliculaID] IS NOT NULL AND [SerieID] IS NULL OR [PeliculaID] IS NULL AND [SerieID] IS NOT NULL))
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [ck_calificacion_tipo]
GO
USE [master]
GO
